.fcw {
  background: #151515;
  color: white;
  height: 100vh;
  overflow: auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.fd {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  margin-bottom: 10px;
  background: #000000;
  border-radius: 0 0 5px 5px;
  color: white;

  img {
    width: 100%;
  }

  .title {
    height: 54px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    margin-bottom: 10px;
  }

  .title:hover {
    color: #276fdb;
  }

  .desc {
    color: gray;
    display: flex;
    justify-content: space-between;
  }

}
